<template>
  <div id="app">
    {{ nome }}
    <lv-addtarefa></lv-addtarefa>
    <lv-busca></lv-busca>
    <lv-tarefas></lv-tarefas>
  </div>
</template>

<script>
import LvAddtarefa from './AddTarefa.vue'
import LvTarefas from './Tarefas.vue'
import LvBusca from './Busca.vue'
import {mapState} from 'vuex'

export default {
  name: 'app',
  components: { LvAddtarefa, LvTarefas, LvBusca },
  computed: {
    ...mapState({
      nome: 'nome'
    })
  }
  // mounted() {
  //   setTimeout(() => {
  //     this.$store.state.nome = 'Novo nome'
  //   }, 1500);
  // }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
