<template>
  <div>
      <ul>
          <li v-for="tarefa in tarefas">
              <lv-deltarefa :tarefa="tarefa"></lv-deltarefa>
              {{ tarefa }}
          </li>
      </ul>
  </div>
</template>

<script>
    import LvDeltarefa from './DelTarefa.vue'
    import {mapGetters} from 'vuex'

    export default {
        name: 'lv-tarefas',
        components: { LvDeltarefa },
        computed: {
            ...mapGetters({
                tarefas: 'listaTarefas'
            })
            // tarefas() {
            //     return this.$store.getters.listaTarefas
            // }
        }
    }
</script>