<template>
  <div id="app">
    <lv-cartao titulo="Preço">
      Aqui você encontra preços <strong>baixos</strong>

      <div slot="rodape">
        Meu conteúdo do rodapé
      </div>
    </lv-cartao>
    <lv-cartao titulo="Qualidade">
      Temos os produtos com mais <strong>qualidade</strong> no mercado
    </lv-cartao>
  </div>
</template>

<script>
import lvCartao from './LvCartao.vue'

export default {
  name: 'app',
  components: { lvCartao }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
