<template>
  <div id="app">
    <h4>Lista um</h4>
    <lv-lista :lista="['feijão','arroz','carne']"></lv-lista>
    <br>
    <lv-lista :lista="['feijão','arroz','carne']" ordena></lv-lista>
    <br>
    <h4>Lista dois</h4>
    <lv-lista :lista="['leite','biscoito','bombom','aveia']" ordena></lv-lista>
    <br>
    <lv-lista :lista="['leite','biscoito','bombom','aveia']"></lv-lista>
    <br>
  </div>
</template>

<script>
import LvLista from './LvLista.vue'

export default {
  name: 'app',
  components: { LvLista }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
